<div id="container">
	<h1>When Did Nacin Last Blog?</h1>
	<h2><a href="<%= link %>"><%= relative_time %> ago</a></h2>
	<p><small><a href="https://github.com/benbalter/when-did-nacin-last-blog">source</a> / <a href="https://github.com/benbalter/when-did-nacin-last-blog/issues">feedback</a></small></p>
</div>
